<?xml version="1.0"?>
<!--
/**
 * Project: Magento Example
 * Author: Eshcole Peets
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="custom_menu_custom_links_data_source" xsi:type="string">CustomMenuLinksCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="CustomMenuLinksCollection"
                 type="ExampleCode\CustomMenu\Ui\DataProvider\Category\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">example_menu_custom_links</argument>
            <argument name="resourceModel" xsi:type="string">ExampleCode\CustomMenu\Model\ResourceModel\Links</argument>
        </arguments>
    </virtualType>
</config>
