<?xml version="1.0"?>
<!--
/**
 * Project: Magento Example
 * Author: Eshcole Peets
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ExampleCode_CustomMenu::links" title="Custom Menu" module="ExampleCode_CustomMenu" sortOrder="1000" parent="Magento_Catalog::catalog" dependsOnModule="ExampleCode_CustomMenu" resource="Magento_Catalog::catalog" action="custom_menu/index/index" />
    </menu>
</config>
