<?xml version="1.0"?>
<!--
/**
 * Project: Magento Example
 * Author: Eshcole Peets
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="custom_menu" frontName="custom_menu">
            <module name="ExampleCode_CustomMenu" before="Magento_Backend"/>
        </route>
    </router>
</config>
