<?xml version="1.0"?>
<!--
/**
 * Project: Magento Example
 * Author: Eshcole Peets
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="examplecode_custom_menu" translate="label" sortOrder="900">
            <label>Example</label>
        </tab>
        <section id="examplecode_custom_menu" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Example Configuration</label>
            <tab>examplecode_custom_menu</tab>
            <resource>ExampleCode_CustomMenu::config</resource>
            <group id="general" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Custom Menu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
